{% extends 'store/main.html' %}
{% load static %}
{% block currency %}
<form id="autoSubmitForm" action="{% url 'edit_currency'%}" method="post" class ='mt-1 col-4'>
	{% csrf_token %}
	<select class="form-select" name="currency" id="autoSubmitSelect">
	<option value='NGN'> Naira Flag</option>
	<option value='NGN'> USD Flag</option>
	<option value='USD'> USD Flag</option>
	<option value='GBP'> Pound Flag</option>
	<option value='EURO'> Euro Flag</option>
	</select>
  </form>
  
{% endblock currency %}
{% block content %}

div>

	<form id="autoSubmitForm" action="" method="post" class ='mt-1 col-4'>
		{% csrf_token %}
		<select class="form-select" name="your_field" id="autoSubmitSelect">
			<option value="">Select  Product Category</option>
		{% for i in categories %}
		<option value={{i.id}}>{{i.category}} </option>
	{% endfor %}
		</select>
	</form>
	
	
	
	</div>
	<div class="row d-flex justify-content-center">
		{% for product in products %}
		<div class=" col-md-3 mx-1 mb-5 text-dark">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<div style="display: flex; gap:1em; justify-content: space-between;">
					<div>
						<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
						<!-- <a class="btn btn-outline-success" href="#">View</a>		 -->
					</div>
				
					<h6><strong>{{product.declare_currence}}-{{product.get_revised_price|floatformat:2}}</strong></h6>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}

{% block script %}
<script>
	document.getElementById('autoSubmitSelect').addEventListener('change', function() {
		document.getElementById('autoSubmitForm').submit();
	});
  </script>

{% endblock script %}