{% extends "base.html" %}
{% load static  %}



{% block title %}

{% endblock title %}



{% block content %}
<div class="container">

    <h1>{{Naija}}</h1>
</div>
<!-- <div class="container">
    <div class="clearfix">
        <img src="{% static 'images/innovation.png' %}" class="col-md-1 float-md-start mb-3 ms-md-3" width="20" height="100" alt="Kekie">

        <p>
            Kikelomo Kuponiyi is a retired banker, lawyer and writer. After graduating with a Bachelor of Laws degree, she ventured into the banking industry, where she worked for over two decades. Her experience in banking spans customer service, operations, financial control and retail lending. Over the years, she nurtured her love for the arts through writing journals, poetry, and short stories. Her first published novel is titled 'Unfolding Grace'. 'Your Money and You' is her first non-fiction book. She is married with three children and lives in Lagos, Nigeria.         </p>
      </div>

      <div class="clearfix">
        <img src="{% static 'images/innovation.png' %}" class="col-md-1 float-md-start mb-3 ms-md-3" width="20" height="100" alt="Kekie">

        <p>
            Kikelomo Kuponiyi is a retired banker, lawyer and writer. After graduating with a Bachelor of Laws degree, she ventured into the banking industry, where she worked for over two decades. Her experience in banking spans customer service, operations, financial control and retail lending. Over the years, she nurtured her love for the arts through writing journals, poetry, and short stories. Her first published novel is titled 'Unfolding Grace'. 'Your Money and You' is her first non-fiction book. She is married with three children and lives in Lagos, Nigeria.         </p>
      </div>


      <div>


      </div> -->


<div class="container">

      <div class="row">
        <div class="col-sm-3 "><img src="{% static 'images/tope3.png' %}" width="200" height="150" alt="Kekie">
        </div>
        <div class="col-sm-8"> <p  class="h5  "style="color: #000080">Babatope Oyerinde</p>  A renowned Electrical Enginer with over 25 years experienced and has bagged several local and international awards for innovation and service excellence. accordion He is Climate Climate ambassador and a frontier of the energey transition to renewable energy across Africa . </div>
        

      </div>
<br>
      
      <div class="row">
        <div class="col-sm-3 "><img src="" width="200" alt ="Tope" height="150" alt="Kekie">
        </div>
        <div class="col-sm-8"> <p  class="h5  "style="color: #000080"> Ayodele Oyerinde</p>  A chartered accountant with reputable records                                                                             </div>
        
        
      </div>
      <br>
      <br>
      <br>
      <div class="row">
            <div class="col-sm-3 "><img src="" width="200" alt ="Tope" height="150" alt="Kekie">
            </div>
            <div class="col-sm-8"> <p  class="h5  "style="color: #000080"> Oluwapelunmi Oyerinde</p>  </div>
            
            
          </div>


</div>
{% endblock content %}