

{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}
  <title> {{Title}} </title>
{% endblock title %}



{% block content %}

{% for i in messages %}
  <div class="alert alert-info" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    
    {{ i  }}
  </div>

  {% endfor %}
<br>
  <div class="container mt-11"> 
    <div class="row">
      <div class="col-4">
        <h6>POST Transaction</h6>
        <form action="{% url 'transaction' %}" method ='POST' class ='mt-1 col-4' >
          {% csrf_token %}
        {{transaction|crispy}}
    
          <button class="btn btn-primary mb-5" type="submit" >Load</button>
        </form>
    
      <h6>Load Inventory </h6>
          <form action="{% url 'inventory' %}" method ='POST' class ='mt-1 col-4' >
            {% csrf_token %}
          {{inventory|crispy}}
    
            <button class="btn btn-primary mb-5" type="submit" >Load</button>
          </form>
      </div>
      <div class="col-2">
        seconf
            </div>
            <div class="col-6">
              <table class="table caption-top">
                <thead class="table-dark">
                  <tr>
                    <th scope="col"><h6>SN</h6></th>
                    
                    <th scope="col"><h6><center>Name</center></h6></th>
                    <th scope="col"><h6><center>VIN</center></h6></th>
                    <th scope="col"><h6><center>Trx Type</center></h6></th>
                  </tr>
                </thead>
                
                    <tbody>
                      {% for i in transact_report  %}
                    
                        <tr>
                      
                            <th scope="row">  {{ forloop.counter }}</th>
                         
                            <td>  {{i.cus_Name}}</td>
                            <td>  {{i.vin}}</td>
                            <td>  {{i.transaction_type}}</td>
                         
                          </tr>

                  {% endfor %}
                </tbody>
              </table>
                    
                  </div>
    </div>
  
  </div>
  {{transact_report}}
{% endblock content %}
                        
